body{
    background-color: black;
    color: white;
}
.view__item{
    display: inline-block;
    text-decoration: none;
}
.view__item+.view__item{
    margin-left: 2em;
}
.view__btn{
    background-color: transparent;
    border: none;
    color: gold;
}
.experience{
    background-color: white;
}
.experience__title{
    color: black;
}
.experience__view{
    display: inline-block;
    background-color: black;
}
li{
    list-style: none;
}